<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" 
            href="https://fonts.googleapis.com/css?family=Lato:300,400|Nunito:300,400|Raleway:300,400,500&display=swap"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        {% if title %}
        <title>30 Days oF Python - {{ title}}</title>
        {% else %}
        <title>30 Days of Python</title>
        {% endif %}
    </head>

    <body>
        <header>
            <div class="menu-container">
                <a class="brand-name nav_link" href="/">30DaysofPython</a>
                <ul class="nav-lists">
                    <li class="nav-lists">
                        <a class="nav-link active" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li>
                        <a class="nav-link active" href="{{ url_for('about') }}">About</a>
                    </li>
                    <li class="nav-list">
                        <a class="nav-link active" href="{{ url_for('post') }}">Text Analyzer</a>
                    </li>
                </ul>
            </div>
        </header>
        <main>
            {% block content %} {% endblock %}
        </main>
    </body>
</html>